{% extends 'base.html' %}
{% block content %}

{% if success %}
<div class="container">
  <div class="row">
    <span class='col-4'></span>
    <h2 class='col bg-white'>{{requested.username}} Exclusions</h2>
    <span class='col-4'></span>
  </div>
    
  <br>
  <div style="text-align:left" id="formContainer">
  {% for group in data %}
    <form class="bg-light" id="{{ group.id }}">
      <h3>{{ group.name }}</h3>
      {% for member in group.members %}
        <a href="/members/exclusions/{{member.id}}">
        {{member.firstName}} {{member.lastName}} ({{member.username}})</a> <input type="checkbox" name="{{member.id}}" value="{{member.username}}"><br>
      {% endfor %}
      
      {% comment %}
      <!-- <div class="row ">
        <div class="col-md-2 col-lg-3"></div>
        <div class="row col border bg-light align-items-center">
          <div class="col-2 col-sm-1"></div>
          <div class="col p-3">{{ field }}:</div>
          <div class="col " id='{{ field }}-inputWrapper'>{{ value }}</div>
          <div class="col-2"></div>
        </div>
        <div class="col-md-2 col-lg-3"></div>
      </div>
      <input type="hidden" value="{{ value }}" id="{{ field }}-og"> -->
      {% endcomment %}
    </form><br>
  {% endfor %}
  </div>
  <button type="submit" class="btn btn-secondary" id='btn-save'>Save</button>

  {% comment %}
  <!-- <div class="row">
    <div class="col-7"></div>
    <button type="submit" class="btn btn-secondary edit" id='btn-edit' value='{{ result }}'>Edit</button>
    <button type="submit" class="btn btn-danger d-none cancel" id='btn-cancel' value='{{ result }}'>Cancel</button>
    <button type="submit" class="btn btn-success d-none save" id='btn-save' value='{{ result }}'>Save</button>
    <input type="hidden" value="{{ result }}" id="data">
    <input type="hidden" value="{{ user.id }}" id="userId">
  </div>
</div> -->
  {% endcomment %}

{% else %}

{{ message }}

{% endif %}

<script>
  $("#btn-save").click( (e) => {
    var output = [];
    var allGroups = $("#formContainer").children("form");
    allGroups.each( (a) => {
      var inputs = allGroups[a];
      var groupOutput = {'id': inputs.id, 'exclusions': []}
      for( k in Object.keys(inputs)) {
        var inp = inputs[k];
        if(inp.checked)
          groupOutput.exclusions.push(inp.name);
      }
      output.push(groupOutput);
    });
    
    console.log(JSON.stringify(output))
    $.ajax({
      url: `/members/exclusions/{{requested.id}}/`,
      type:"POST",
      data: JSON.stringify(output),
      dataType: 'json',
      contentType: "application/json",
      success: (returnData) => {
        console.log(returnData);
        if (!returnData.success) {
          $('#result-modal').prop('class', 'alert alert-danger');
          $('#result-message').html(`Error updating record.<br>${returnData.message}.`);
          $('#resultModal').modal('show');
        }
        else {
          $('#result-modal').prop('class', 'alert alert-success');
          $('#result-message').html('Success!');
          $('#resultModal').modal('show');
        }
      }
    });
  });

  var getJsonData = () => {
    var dataString = document.getElementById('data').value.replace(/'/g, '"');
    var dataStringFormatted = dataString.replace(/: None/g, ': null');
    var dataJson = JSON.parse(dataStringFormatted);
    return Object.keys(dataJson);
  }
  
</script>


{% endblock content %}
