{% extends 'base.html' %}
{% block content %}

<h2>Partners</h2>
<div class="container">
  <div class="row">
    <div class='col-4'></div>
    <div class='col-2 bg-light'>Group</div>
    <div class='col-2 bg-light'>user</div>
    <div class='col-4'></div>
  </div>
</div>
<div id="target"></div>

<script>
  $(document).ready((e) => {
    $.ajax({
      url: `/members/pairings/{{ user.id }}`,
      type:"GET",
      success: (returnData) => {
        if(returnData.success) {
          pairings = $.parseJSON(returnData.response).pairings
          htmlString = '';
          for (var pair in pairings) {
            var group = pairings[pair].group;
            var pairing = pairings[pair].pairing;
            var pairName = `${pairing.first_name} ${pairing.last_name}`
            var p = {};
            for (var field in pairing) {
              if(!pairing[field]) p[field] = ''
              else p[field] = `${pairing[field]}<br>`;
              console.log(p[field])
            }
            htmlString += `
              <button type="button" class="btn btn-lg btn-success js-popover-trigger" data-toggle="popover" data-html="true" data-placement="left" title="${group.group_name}" 
              data-content="end date: ${group.end_date}<br>ship date: ${group.ship_date}">
                ${group.group_name}
              </button>
              <button type="button" class="btn btn-lg btn-danger js-popover-trigger" data-toggle="popover" data-html="true" title="${pairName}"
                data-content="${p.email}
                              ${p.phone}
                              ${p.address}
                              ${p.city}
                              ${p.state}
                              ${p.zip_code}
                ">
                ${pairName}
              </button>  
            `;
          }
          $('#target').html(htmlString);
          $('[data-toggle="popover"]').popover()
        }
        else {
          $('#target').html("<div class='bg-light'>You don't have any pairings yet!</div>");
        }
      }
    });
  });
</script>
  
  
{% endblock content %}
