{% extends 'base.html' %}
{% block content %}

<h2>Profile</h2>
{% if user.is_authenticated %}
<p>Here is your profile info {{user.username}}!</p>
<div class="container">
  {% for field, value in result.items %}
    <div class="row">
      <div class="col-4"></div>
      <div class="col bg-light">{{ field }}:</div>
      <div class="col bg-light" id='{{ field }}-inputWrapper'>{{ value }}</div>
      <div class="col-4"></div>
    </div>
    <input type="hidden" value="{{ value }}" id="{{ field }}-og">
  {% endfor %}
  <div class="row">
    <div class="col-7"></div>
    <button type="submit" class="btn btn-secondary edit" id='btn-edit' value='{{ result }}'>Edit</button>
    <button type="submit" class="btn btn-danger d-none cancel" id='btn-cancel' value='{{ result }}'>Cancel</button>
    <button type="submit" class="btn btn-success d-none save" id='btn-save' value='{{ result }}'>Save</button>
    <input type="hidden" value="{{ result }}" id="data">
    <input type="hidden" value="{{ user.id }}" id="userId">
  </div>
</div>
{% endif %}


<script>
  $(".save").click((e) => {
    var dataKeys = getJsonData();
    var output = {};
    for(var key in dataKeys) { 
      var input = document.getElementById(`${dataKeys[key]}-input`).value;
      var wrapperDiv = document.getElementById(`${dataKeys[key]}-inputWrapper`);
      document.getElementById(`${dataKeys[key]}-og`).value = input;
      wrapperDiv.innerHTML = input;
      output[dataKeys[key]] = input;
    }

    // hide cancel and save buttons
    e.target.classList.add('d-none');
    document.getElementById(`btn-cancel`).classList.add('d-none');
    document.getElementById(`btn-edit`).classList.remove('d-none');
    var userId = document.getElementById('userId').value;
    console.log(output);
    $.ajax({
      url: `/members/update/${userId}`,
      type:"POST",
      data: JSON.stringify(output),
      dataType: 'json',
      contentType: "application/json",
      success: (returnData) => {
        console.log(returnData);
        console.log('done');
      }
    });
  });

  $(".cancel").click((e) => {
    var dataKeys = getJsonData();
    for(var key in dataKeys) { 
      var ogValue = document.getElementById(`${dataKeys[key]}-og`).value;
      var valueDiv = document.getElementById(`${dataKeys[key]}-inputWrapper`);
      valueDiv.innerHTML = ogValue;
    }

    // hide cancel and save buttons
    e.target.classList.add('d-none');
    document.getElementById(`btn-save`).classList.add('d-none');
    document.getElementById(`btn-edit`).classList.remove('d-none');
  });

  $(".edit").click((e) => {
    var dataKeys = getJsonData();
    for(var key in dataKeys) { 
      var valueDiv = document.getElementById(`${dataKeys[key]}-inputWrapper`);
      var existingValue = valueDiv.innerHTML;
      valueDiv.innerHTML = `<input type="text" value=${existingValue} id='${dataKeys[key]}-input'>`;
    }
     
    // hide edit link
    e.target.classList.add('d-none');
    document.getElementById(`btn-cancel`).classList.remove('d-none');
    document.getElementById(`btn-save`).classList.remove('d-none');
  });

  var getJsonData = () => {
    var dataString = document.getElementById('data').value.replace(/'/g, '"');
    var dataStringFormatted = dataString.replace(/: None,/g, ': null,');
    var dataJson = JSON.parse(dataStringFormatted);
    return Object.keys(dataJson);
  }
  
</script>


{% endblock content %}
