{% extends 'base.html' %}
{% block content %}

<h2>Profile</h2>
{% if user.is_authenticated %}
<p>Here is your profile info {{user.username}}!</p>
<div class="container">
  {% for field, value in result.items %}
    <div class="row">
      <div class="col-3"></div>
      <div class="col bg-light">{{ field }}:</div>
      <div class="col bg-light" id='{{ field }}-input'>{{ value }}</div>
      <a href='#' class='col bg-light edit'>edit</a>
      <div class="col-3"></div>
    </div>
  {% endfor %}
</div>
{% endif %}

{% endblock content %}
