#Eric
{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <style>
          th, td {
            border: 2px solid black;
          }

          table {
            border-collapse:  collapse;
          }


    </style>
    <meta charset='utf-8'>
    <title> Forms </title>

</head>
<body>

<h1>Welcome!</h1>

<div class="container">
    <h2>Groups You Manage: </h2>
    <table>
        <th>Group Name</th>
        <th>Ship Date</th>
        <th>End Date</th>
        {%for gr in myManaged %}
        <tr>
            <ul class="list-group">
                <td>
                   <li class="list-group-item"><a href={% url 'create_group:editgroup' gr.group_name %}> {{gr.group_name}}</a></li>
                </td>
                <td>
                    <li class="list-group-item"> {{gr.ship_date}}</li>
                </td>
                <td>
                    <li class="list-group-item"> {{gr.end_date}}</li>
                </td>
            </ul>
        </tr>
        {% endfor %}
    </table>
    <h1><font size="2"> <a class="nav-link" href="{% url 'create_group:creategroup' %}">Start a New Group!</a></font>
    </h1>
    <h2>Groups You Are a Member of: </h2>
    <table>
        <th>Group Name</th>
        <th>Group Creator</th>
        <th>Ship Date</th>
        <th>End Date</th>
        {%for gr in myMembership %}
        <tr>
            <ul class="list-group">
                <td>
                    <li class="list-group-item"><a href={% url 'create_group:creategroup' %}>
                        {{gr.user_group.group_name}}</a></li>
                </td>
                <td>
                    <li class="list-group-item"> {{gr.created_by}}</li>
                </td>
                <td>
                    <li class="list-group-item"> {{gr.ship_date}}</li>
                </td>
                <td>
                    <li class="list-group-item"> {{gr.end_date}}</li>
                </td>

            </ul>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
{% endblock %}
