4\ -\ Command\ Pattern/
5\ -\ Buillder\ Pattern/
7\ -\ Composite\ Pattern/
7\ -\ Container\ Pattern/
7\ -\ Decorator\ Pattern/
7\ -\ Facade\ Pattern/
7\ -\ Flyweight\ Pattern/
8\ -\ Observer\ Pattern/
9\ -\ Strategy\ Pattern/
9\ -\ Template\ Method\ Pattern/
*.pdf
*.pptx