{% extends 'base.html' %}

{% block content %}
	<h2>Questions</h2>
	<h3><a href="add.html">Create a New Question</a></h3>
	<form>
		{% csrf_token %}
		{{ form.text }}
		<ul style="list-style-type:none">
			{% for question in form.choices.field.queryset %}
				<li><input type="checkbox" class="question" name="q{{ question.id }}" id="{{ question.id }}" value="{{ question.id }}">{{ question.text }}
				<select class="times" id="t{{ question.id }}"></select>
				</li>
				<!-- <ul>
					<li>{% if question.answer == 'a' %}<b>{{ question.a }}</b>{% else %}{{ question.a }}{% endif %}</li>
				</ul> -->
			{% endfor %}
		</ul>
		name: <input type="text" name="name" id="name">
		<br>
		<input type="button" id="submit" value="create game">
	</form>
{% endblock %}

{% block extra_js %}
	<script>
		$(document).ready(function(){
			selected = ''
			for (var i = 0; i <= 100; i++) {
				i == 15 ? selected="selected" : selected='';
				$('.times').append('<option value="' + i + '" ' + selected + '>' + i + '</option>');
			}
		});

		$("#submit").click(function(e) {
			var token = $("input[name=csrfmiddlewaretoken]").val();
			var questionIds = [];
			$.each($("input[class='question']:checked"), function(){
				// questionIds.push($(this).val());
				qName = $(this).attr('name');
				qId = $(this).attr('id');
				qValue = $(this).val();
				timeDropdown = $("#t" + qId);
				timeValue = timeDropdown.val();
				questionIds.push({'id':Number(qId), 'time':Number(timeValue)})
			});
			console.log(questionIds);
			console.log($("#name").val());
			$.ajax({
				type: "POST",
				url: "/game/questions/",
				data : {
					csrfmiddlewaretoken: token, 
					selected: JSON.stringify(questionIds), 
					gameName: $("#name").val(),
				},
				success: function(data) {
					console.log(data)
				},
				dataType: 'json',
			});
		});
	</script>
{% endblock extra_js %}