{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h1>Edit Game</h1>
	<div id="gameNameWrapper">
		<h2 id="gameNameText">
			<span id="gameName" name="{{ data.gameName }}">
				{{ data.gameName }}
				<a role="button" id="gameNameEdit">
					<img src="{% static '/game/img/icon-changelink.svg' %}">
				</a>
			</span>
		</h2>
	</div>

	<h3>Questions</h3>
	<h3>My Questions</h3>
	<h3>Public Questions</h3>

	{{ data }}
	<form  method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="text" value="a">
	<input  type="submit"  value="Submit"  />
	</form>

	<a href='/game'>
		<h5>Back to My Games</h5>
	</a>
{% endblock %}

{% block extra_js %}
	<script>
		$(document).ready( () => {
			$("#gameName").data('id', '{{ data.gameId }}');
		});
		$("#gameName").on('click', "#gameNameEdit", (e) => {
			name = $("#gameName").text().trim();
			$("#gameName").html(`
				<input id='gameNameInput' type='text'>
				<img id='gameNameOk' src="{% static '/game/img/icon-yes.svg' %}">
				<img id='gameNameNo' src="{% static '/game/img/icon-no.svg' %}">
			`)
			$("#gameNameInput").focus();
			$("#gameNameInput").val(name);
		});

		$("#gameName").on('click', '#gameNameOk', (e) => {
			commitGameName();
		});

		// $("#gameName").on('focusout', '#gameNameInput', (e) => {
		// 	confirmName($("#gameNameInput").val())
		// });

		$("#gameName").on('click', '#gameNameNo', (e) => {
			cancelGameName();
		});

		document.onkeydown = function(evt) {
			evt = evt || window.event;
			var isEscape = false;
			var isEnter = false;
			if ("key" in evt) {
				isEscape = (evt.key === "Escape" || evt.key === "Esc");
				isEnter = (evt.key === "Enter")
			}
			if (isEscape) {
				cancelGameName();
			}
			if (isEnter) {
				commitGameName();
			}
		};

		function cancelGameName() {
			setGameName($('#gameName').attr('name'));
		}

		function commitGameName() {
			var token = $("input[name=csrfmiddlewaretoken]").val();
			newName = $("#gameNameInput").val();
			oldName = $('#gameName').attr('name');
			if(newName.length == 0 || oldName === newName) {cancelGameName(); return;}
			setGameName(newName);
			$("#gameName").attr("name", newName);
			gameId = $('#gameName').data('id');
			console.log(gameId);
			url = `/game/edit/${gameId}`
			data = {'id':gameId, 'name':newName}
			success = (e) => {console.log(e)};
			postData(url, token, data, success)
		}

		function setGameName(newName) {
			$("#gameName").html(`
				${newName}
				<a role="button" id="gameNameEdit">
					<img src="{% static '/game/img/icon-changelink.svg' %}">
				</a>
			`);
			console.log('hiho');
		}
	</script>
{% endblock extra_js %}