{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h1>Edit Game</h1>
	<div id="gameNameWrapper">
		<h2 id="gameNameText">
			<span id="gameName" name="{{ data.gameName }}">
				{{ data.gameName }}
				<a role="button" id="gameNameEdit">
					<img src="{% static '/game/img/icon-changelink.svg' %}">
				</a>
			</span>
		</h2>
	</div>

	<h3>Questions</h3>
		<ul id="gameQuestionsList">
			{% for game in data.gameQuestions %}
				<li>
					{{ game.text }}
					<select class="times" id="t{{ game.id }}" name="{{game.time}}"></select>
					<a role="button" value="{{ game.id }}" class="delete" name="{{ game.id }}" id="d{{ game.id }}"><img src="{% static '/game/img/icon-deletelink.svg' %}"></a>
					<a href="/game/edit/{{ id }}" value="{{ game.id }}" class="edit" name="{{ game.id }}" id="e{{ game.id }}"><img src="{% static '/game/img/icon-changelink.svg' %}"></a>
				</li>
			{% endfor %}		
		</ul>
	<h3>My Questions</h3>
		<ul>
			{% for game in data.userQuestions %}
				<li>{{ game.text }}</li>
			{% endfor %}
		</ul>
	<h3>Public Questions</h3>

	<form  method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="text" value="a">
	<input  type="button"  value="Submit" id="submit" />
	</form>

	<a href='/game'>
		<h5>Back to My Games</h5>
	</a>
{% endblock %}

{% block extra_js %}
	<script>
		$(document).ready( () => {
			$("#gameName").data('id', '{{ data.gameId }}');

			// sets the correct time for each questions
			$('.times').each( (_, item) => {
				for (var i = 0; i <= 100; i++) {
					i == item.name ? selected="selected" : selected='';
					$(`#${item.id}`).append('<option value="' + i + '" ' + selected + '>' + i + '</option>');
				}
			});	
		});

		$("#gameName").on('click', "#gameNameEdit", (e) => {
			name = $("#gameName").text().trim();
			$("#gameName").html(`
				<input id='gameNameInput' type='text'>
				<img id='gameNameOk' src="{% static '/game/img/icon-yes.svg' %}">
				<img id='gameNameNo' src="{% static '/game/img/icon-no.svg' %}">
			`)
			$("#gameNameInput").focus();
			$("#gameNameInput").val(name);
		});

		$("#gameName").on('click', '#gameNameOk', (e) => {
			commitGameName();
		});

		$("#gameQuestionsList").on('change', ".times", (e) => {
			token = $("input[name=csrfmiddlewaretoken]").val();
			gameId = $('#gameName').data('id');
			newValue = e.target.value;
			questionId = e.target.id.substr(1);
			data = {questionId, newValue};
			url = `/game/edit/${gameId}`;
			success = (data) => console.log(data);
			putData(url, token, data, success)
		});

		$("#submit").click( (e) => {
			var token = $("input[name=csrfmiddlewaretoken]").val();
			gameId = $('#gameName').data('id');
			$.ajax({
				type: "PUT",
				url: `/game/edit/${gameId}`,
				data : {'hi':'ho-hum'},
				beforeSend: function(xhr) {
						xhr.setRequestHeader("X-CSRFToken", token);
				},
				success: (e) => console.log(e),
				dataType: 'json',
			});
			// console.log('click');
		});

		// $("#gameName").on('focusout', '#gameNameInput', (e) => {
		// 	confirmName($("#gameNameInput").val())
		// });

		$("#gameName").on('click', '#gameNameNo', (e) => {
			cancelGameName();
		});

		document.onkeydown = function(evt) {
			evt = evt || window.event;
			var isEscape = false;
			var isEnter = false;
			if ("key" in evt) {
				isEscape = (evt.key === "Escape" || evt.key === "Esc");
				isEnter = (evt.key === "Enter")
			}
			if (isEscape) {
				cancelGameName();
			}
			if (isEnter) {
				commitGameName();
			}
		};

		function cancelGameName() {
			setGameName($('#gameName').attr('name'));
		}

		function commitGameName() {
			var token = $("input[name=csrfmiddlewaretoken]").val();
			newName = $("#gameNameInput").val();
			oldName = $('#gameName').attr('name');
			if(newName.length == 0 || oldName === newName) {cancelGameName(); return;}
			setGameName(newName);
			$("#gameName").attr("name", newName);
			gameId = $('#gameName').data('id');
			console.log(gameId);
			url = `/game/edit/${gameId}`
			data = {'id':gameId, 'name':newName}
			success = (e) => {console.log(e)};
			postData(url, token, data, success)
		}

		function setGameName(newName) {
			$("#gameName").html(`
				${newName}
				<a role="button" id="gameNameEdit">
					<img src="{% static '/game/img/icon-changelink.svg' %}">
				</a>
			`);
			console.log('hiho');
		}
	</script>
{% endblock extra_js %}