/* https://stackoverflow.com/questions/18679020/border-around-tr-element-doesnt-show */
/* 
put -r public_html 
*/
table, tr, td{
    border-collapse: collapse;
    border: 2px solid #E2ECD7;
    text-align: center;
    vertical-align: middle;
}

#game{
    width:50vw;
    height:50vw;
    margin-left: auto;
    margin-right: auto;
}

table{
    width:100%;
    height:100%;
}

#row2, #row5{
    border-bottom: 7px solid #A0C47E
}

.col3, .col6{
    border-right: 7px solid #325f07
}

#header{
    text-indent: 5px;
    color: #325f07;
    width: 100%;
    height:auto;
    background-color: #A0C47E;
    /* position: fixed; */
    top:0;
}

.columns{
    float:left;
    /* width: 33%; */
}

#middle{
    height: 70%;
}
#sidebar{
    height: 70%;
    width: 12%;
    padding-left: 2%;
    padding-right: 2%;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: #E2ECD7;

}

#gameWrapper{
    width:63%;
    padding-left: 2%;
    padding-right: 2%;
    height: 70%;
}

#numbers{
    height: 70%;
    width:12%;
    padding-left: 2%;
    padding-right: 2%;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #E2ECD7;
    text-align: center;
}



#difficulty{
    color: #325f07;
    background-color: #A0C47E;
    width: 100%;
}

#footer{
    background-color: #325f07;
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
    margin: 0;
    color:#E2ECD7;
}

body{
    color: #325f07;
    margin: 0;
}

.numInput{
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}