/* https://stackoverflow.com/questions/18679020/border-around-tr-element-doesnt-show */
/* 
put -r public_html 
*/

/* CODE BELOW TAKE FROM:
https://blog.rudolphk.co.za/css-tip-remove-spinner-on-input-of-number-9fc4d9cac121
IN ORDER TO REMOVE ARROWS ON NUMBER BOXES
*/
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body{
    color: #325f07;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

table, tr, td{
    border-collapse: collapse;
    border: 2px solid #E2ECD7;
    text-align: center;
    vertical-align: middle;
}


/* --------------------------- */

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .columns {
        width:100%;
    }
}

#header{
    text-indent: 5px;
    color: #325f07;
    height:auto;
    background-color: #A0C47E;
    top:0;
}

#sidebar{
    float: left;
    width: 20%;
}
#gameWrapper{
    width: 60%;
}
#numbers{
    width: 20%;
}
#footer{
    clear: left;
    background-color: #325f07;
    height: 5%;
    color:#E2ECD7;
}
/* ---------------------------- */

/* viewport width */
#game{
    width:50vw;
    height:50vw;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-left: auto;
    margin-right: auto;
    width:85%;
    height:85%;
}
td{
    width: 11%;
}
#row2, #row5{
    border-bottom: 7px solid #A0C47E
}
.col3, .col6{
    border-right: 7px solid #325f07
}
.columns{
    float:left;
    width: 33%;
}
#difficulty{
    color: #325f07;
    background-color: #A0C47E;
    width: 100%;
}
.numInput{
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}

/* #sidebar{
    height: 70%;
    width: 12%;
    padding-left: 2%;
    padding-right: 2%;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: #E2ECD7;
}
#gameWrapper{
    width:63%;
    padding-left: 2%;
    padding-right: 2%;
    height: 70%;
}
#numbers{
    height: 70%;
    width:12%;
    padding-left: 2%;
    padding-right: 2%;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #E2ECD7;
    text-align: center;
} */